# Lambda Functions

If we had to write normally without lambda then we would do

In [26]:
def square(x):
    return x ** 2
square(2)

4

This is a simple lambda expression

In [25]:
value = lambda x: x**2
value(2)

4

Note: there is no return function and we can put lambda funtion anywhere

------------------------------------------------------------------------------------------------------

## Map

Mainly this lambda function is used with map and filter

Syntax: map(function, list)

Writing a simple function to add 2 to all the values int he list

In [36]:
list(map(lambda x: x+2, [1,2]))

[3, 4]

------------------------------------------------------------------------------------------------------

## Filter

Filter function has a function and a list, which outputs all the values

Writing a simple function to get items which is not equal to 2

In [37]:
list(filter(lambda x: (x!=2), [1,2,3,4]))

[1, 3, 4]

------------------------------------------------------------------------------------------------------

## Class work: uncomment and complete the ___ blanks

Given this list

In [40]:
my_list = [1,2,3,4]

Print my_list in the console

In [46]:
# print("Input list is", )

Square all numbers in my_list

In [47]:
# squared_list_lambda = list(____(lambda x: ____, my_list))
# squared_list_lambda

Print the result of the map function

In [48]:
# print("The squared numbers are", ____)

------------------------------------------------------------------------------------------------------

In [49]:
my_list2 = [5,10,15,20,25,30]

Print my_list2 in the console

In [51]:
# print("Input list is:", ____)

Filter numbers divisible by 10

In [61]:
# filtered_list = list(____(lambda x: (x%10 == ____), my_list2))
# filtered_list

Print the numbers divisible by 10

In [62]:
# print("Numbers divisible by 10 are:", ____)

------------------------------------------------------------------------------------------------------